body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

.portfolio-item, .experience-item {
    margin-bottom: 2em;
}

.portfolio-item {
    text-align: center;
    margin-bottom: 2em;
}

.portfolio-item img {
    width: 50%; /* Mengatur lebar gambar menjadi 50% dari elemen induk */
    height: auto;
    max-width: 400px; /* Maksimal lebar gambar */
}

.project-image {
    width: 50%;
    height: auto;
    max-width: 400px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    padding: 0.5em 2em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
